streamlit
streamlit-option-menu

pandas
numpy

plotly

sqlalchemy

python-dotenv

langchain

langgraph

langchain-community

faiss-cpu

sentence-transformers

pypdf

openai

tqdm

tabulate

matplotlib

Pillow